.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.search-filter-container {
  padding: 40px 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: rgb(0, 42, 59);
  color: white;
  text-align: center;
  margin-bottom: 0;
}
.search-filter-container .explore-heading {
  margin-bottom: 30px;
}
.challenges-container {
  background-color: rgb(0, 49, 69);
  margin-top: 0;
}

.card-content {
  text-align: center;
}
.label {
  border-radius: 5px;
  padding: 5px;
  font-weight: 400;
  font-size: 12px;
}
.upcoming {
  background: rgba(242, 201, 76, 0.25);
}
.active {
  background: #44924c;
}
.past {
  background: #ff3c002b;
}
.card-content .card-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}
.participate-button {
  background-color: #44924c;
  border-radius: 10px;
  border: none;
  padding: 8px 20px;
  color: white;
}

.tiny-text {
  padding-top: 0px;
  font-size: 12px;
  font-weight: normal;
}
.timer {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
  margin-bottom: 15px;
}
.timer-element {
  margin: 5px;
  font-weight: bold;
}
.days,
.hours,
.minutes {
  font-weight: bold;
}
.correct-icon {
  width: 30px;
  margin-right: 8px;
}
